html,
body,
h1,
ul,
li {
	margin: 0;
	padding: 0;
}

html { 
	background: url('../images/Giraffe4.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }

/* html {
	color: #333;
	font-family: 'Gentium Book Basic', serif;
	font-size: 150%;
	line-height: 1.5;
} */

/* body {
	background-image: url('../images/Giraffe4.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 20%;
	overflow-x: hidden;
} */

@media only screen and (min-resolution: 2dppx) and (min-width: 950px),
	only screen and (-webkit-device-pixel-ratio: 2) and (min-width: 950px)
{
	body {
		background-position-x: 0;
	}
}

.wrapper {
	width: 100%;
}


@media only screen and (min-resolution: 2dppx) and (min-width: 950px),
	only screen and (-webkit-device-pixel-ratio: 2) and (min-width: 950px)
 {
	.wrapper {
		width: 60%;
		float: right;
	}
}

h1 {
	color: #333;
	color: #d7e8f4;
	color: rgba(235, 82, 89, 0.7);
	/* doesn't do anything without changing color -- text-shadow: -1px 0 rgba(235, 82, 89, 0.5), 0 1px rgba(235, 82, 89, 0.5), 1px 0 rgba(235, 82, 89, 0.5), 0 -1px rgba(235, 82, 89, 0.5)*/
	
	font-size: 12rem;
	font-family: 'Open Sans', sans-serif;
	
	line-height: 1;
}

	
	@media only screen and (min-resolution: 2dppx) and (min-width: 950px),
		only screen and (-webkit-device-pixel-ratio: 2) and (min-width: 950px)
	{
		h1 {
			margin-top: 0;
		}
	}

a {
	color: #d7e8f4;
	text-decoration: none;
}

	a:hover {
		position: relative;
		font-weight: bold;
		top: -.2em;
		padding-bottom: .2em;
		
		text-decoration: underline;
		color: rgba(235,82,89,1);
	}

	a:active {
		position: relative;
		top: .1em;
	}

p {
	font-size: 1rem;
	background: #d7e8f4;
	padding: 1rem;
	max-width: 40em;
	font-family: 'Texturina', serif;
}

nav {
	width: 100%;
}

nav ul {
	display: block;
	position: relative;
	float: left;
	left: 50%;
}

nav li {
	position: relative;
	right: 50%;

	display: block;
	float: left;
	margin-bottom: 1rem;

	list-style: none;
}

nav li + li {
	margin-left: 1rem;
}

.button {
	display: inline-block;
	padding: .5em;

	background: #333;
	background: rgba(20, 20, 20, 0.8);
	color: #fff;
	text-decoration: none;
	font-size: 1.5rem;
}

	.button:hover {
		background: #000;
		background: rgba(1, 1, 1, 0.8);

		padding-bottom: .5em;
	}
